<div class="span10">

  <%= render "shared/error", obj: @comment %>

  <%= form_for ([@post, @comment]) do |form| %>
    <div>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit @comment.new_record? ? "Create comment" : "Update comment" %>
    </div>
  <% end %>
</div>