<% @posts.each do |post| %>
    <div>
      <%= render  partial: "shared/post_categories", locals: {post: post} %>
      <h3><%= link_to post.title, url_with_protocol(post.url) %></h3>
      <p>
        <%= post.description %>
        <%= link_to "#{post.comments.count} comments", post %>
      </p>
    </div>
<% end %>