<%= render 'post', post: @post %>

<% if logged_in? %>
  <%= render 'comments/comment_form' %>
<% end %>

<h3><%= "Comment".pluralize(@post.comments.count) %>:</h3>
<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>  